/* variables */
:root{
    --white:#EFF2F1;
    --black:#2F2F2F;
    --gray:#9CADA6;
    --green:#3b5d50;
    --yellow:#F9BF29; 
     --main-transition: 0.5s all ease;
  --main-box-shadow: 10px 20px 30px 0px #3b5d50 inset;

}
/* start global styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration:none;
}
.container {
  width: auto;
  height: auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    overflow-x: hidden;
    
}
/* end global styles */

/* start header styles */ 
header{
    width:100%;
    height:auto;
    background-color: var(--green);
    overflow: hidden;
}
     
/* start navbar styles  */
.nav-bar .container{
    width:100%;
    height:auto;
    background-color: var(--green);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 28px 80px;
    gap: 16px;
}


/* start links */
.nav-bar ul ,.nav-list ,.header-menu {
    display:flex;
    list-style:none !important; 
    justify-content:center;
    align-items:center;
    width:auto;
    gap:40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-right: 20px;



}

.nav-bar ul li a{
    text-decoration:none;
    color:var(--gray);
    font-weight:500;
    font-size: 14px;
    line-height: 28px;
    margin-right: 5px;
    padding-bottom: 10px;

}
.nav-list ul li a:hover {
    color:var(--white);
    transition: all 0.3s ease 0s;
    border-bottom: 5px solid var(--yellow);

}
.active {
    color:var(--white) !important;
    border-bottom: 5px solid var(--yellow);
    
}

.header-right{
    font-size: xx-small;
    padding-top: 1px;
    width:10px;

  
}
/* end links */
/* start logo */
.logo-side{
    display:flex;
    align-items:center;
    width:auto;
    height:auto;
    text-decoration: none;
    

}
.logo-side a{
    text-decoration:none;
    color:var(--white);
    font-size:32px;
    font-weight:600;
    line-height: 28px;
}
/* end logo */
/* start hero section  */
.hero-sec{
    width:100%;
    height:auto;
    padding: 80px 0;
    background-color: var(--green);
    position: relative;
}
.text-hero{
    width:100%;
    height:auto;
    padding: 80px 80px;
    background-color: var(--green);
     word-wrap: break-word;
}
.text-hero h1{
    font-size:48px;
    font-weight:700;
    line-height: 56px;
    color:var(--white);
    margin-bottom:24px;
    word-wrap: break-word;
}
.text-hero p{
    font-size:16px;
    font-weight:400;
    line-height: 28px;
    color:var(--gray);
    margin-bottom: 40px;
}
.text-hero span{
    display:block;
}
.text-hero p a {
    text-decoration:none;
    color:var(--black);
    background-color: var(--yellow);
    padding: 12px 24px;
    border-radius: 30px;
    font-size:16px;
    font-weight:500;
    line-height: 28px;
    margin-right: 20px;  
}
.text-hero p a.button-outline{
    border: 2px solid var(--gray);
    color:var(--white);
    background-color: transparent;
}
.text-hero p a.button-outline:hover {
    border: 2px solid var(--white);
}

.hero__image{
    width:100%;
    height:auto;
    
}
.hero__image img{
    height:auto;
    position:absolute;
    right:25px;
    top:80px ;
}
/* end hero section  */
/* Start Product Section */
.products{
    width:100%;
    height:auto;
    padding: 80px 0;
    background-color: var(--white);
    
}
.products .container{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: relative;
    overflow-y: hidden;
    
}
.products-text{
    width: 100%;
    height:auto;
    padding: 80px 0;
    background-color: var(--white);
    word-wrap: break-word;
    margin: 0 70px; 
    
}
.products-text .section__title{
    font-size:36px;
    font-weight:700;
    line-height: 44px;
    color:var(--black);
    margin-bottom:24px;
    word-wrap: break-word;
}
.products-text p{
    font-size:16px;
    font-weight:400;
    line-height: 28px;
    color:var(--gray);
    margin-bottom: 40px;
    text-decoration: none;
}

.products-text p a{
    text-decoration:none;
    color:var(--white);
    background-color: var(--black);
    padding: 12px 24px;
    border-radius: 30px;
    font-size:16px;
    font-weight:500;
    line-height: 28px;
    margin-right: 20px;  
    text-decoration: none;
}


.products .product {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    text-align: center;

    text-decoration: none !important;
}
.products .product img{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.products__item{    
    text-decoration: none;
    color:var(--black);
    padding: 12px 24px;
    border-radius: 30px;
    font-size:16px;
    font-weight:500;
    line-height: 28px;
    margin-right: 20px;     
}
.products__item:hover{
    background-color: var(--gray);
    color:var(--black);
    text-decoration: none;
    transition: var(--main-transition);
    display: block;
}
.products:has(.products__item:hover) .products__icon{
    background-color: var(--black);
    color:var(--white);
    transition:var(--main-transition);
}
.products .products__icon img{
    width:50px;
    color:var(--gray);
    background-color: var(--white);
    border-radius: 50%;
    padding:10px;
    margin-left: 120px;
    position: absolute;  

}

/* End Product Section */
/* Start Why Choose Us Section */
.features{
    width:100%;
    height:100vh;
    display:flex;
    padding: 80px 120px;
    background-color: var(--white);
    position: relative;
    overflow-x: hidden;
    
}
.features .features__text{
    width: 100%;
    height:100vh;
    padding: 80px 0;
    background-color: var(--white);
    word-wrap: break-word;
    margin: 0 70px; 
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    
}
.features .text-features .section__title{
    font-size:35px;
    font-weight:500;
    color:var(--black);
    margin-bottom:5px;
    word-wrap: break-word;
}
.features .text-features p{
    font-size:16px;
    font-weight:250;
    color:var(--gray);
}

.features .features__items{
    width:100%;
    height:auto;
    margin-top:40px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
}
.features .features__items .features__item{
    gap:20px;
    position: relative;
}
.features .features__items .features__item p{
    font-size:16px;
    font-weight:250px;
    color:var(--gray);
  
}

.features .features__items .features__item .features__icon{
    border-radius: 50%;
    width:fit-content;   
    
}
.features .features__items .features__item .features__icon:before {
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    left:20px;
    top: 12px;
    
}

.features .features__image{
    width:100%;
    height:auto;
    
}
.features .features__image .responsive-image{
    width:525px;
    height:602px;
    position:absolute;
    right:70px;
    top:60px ;
    z-index: 1;
    border-radius: 20px;
}
.features .dots-yellow{
    width:250px;
    height:auto;
    position:absolute;
    right:450px;
    top: -30px ;
    z-index: 0;
}

/* End Why Choose Us Section*/









/* السيكشن الاول محتاج تعديلات زي الايقون وصورة الدوت والدوت االف اللوجو */
/* السكشن التاني محتاج تعديلات في البوكس شادو بتاع الكاردات بتاعت البرودكتس     */
/* تظبيط الريزبونسيف للموبيلات والاجهزخ الاكبر */