/* variables */
:root{
    --white:#EFF2F1;
    --black:#2F2F2F;
    --gray:#9CADA6;
    --green:#3b5d50;
    --yellow:#F9BF29; 
     --main-transition: 0.5s all ease;
  --main-box-shadow: 10px 20px 30px 0px #3b5d50 inset;

}
/* start global styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
    
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a{
    text-decoration:none;
}
.container {
  width: auto;
  height: auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    overflow-x: hidden;
    
}
/* end global styles */

/* start header styles */ 
header{
    width:100%;
    height:auto;
    background-color: var(--green);
    overflow: hidden;
}
     
/* start navbar styles  */
.nav-bar .container{
    width:100%;
    height:auto;
    background-color: var(--green);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 28px 80px;
    gap: 16px;
}


/* start links */
.nav-bar ul ,.nav-list ,.header-menu {
    display:flex;
    list-style:none !important; 
    justify-content:center;
    align-items:center;
    width:auto;
    gap:40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-right: 20px;



}

.nav-bar ul li a{
    text-decoration:none;
    color:var(--gray);
    font-weight:500;
    font-size: 14px;
    line-height: 28px;
    margin-right: 5px;
    padding-bottom: 10px;

}
.nav-list ul li a:hover {
    color:var(--white);
    transition: all 0.3s ease 0s;
    border-bottom: 5px solid var(--yellow);

}
.active {
    color:var(--white) !important;
    border-bottom: 5px solid var(--yellow);
    
}

.header-right{
    font-size: xx-small;
    padding-top: 1px;
    width:10px;

  
}
/* end links */
/* start logo */
.logo-side{
    display:flex;
    align-items:center;
    width:auto;
    height:auto;
    text-decoration: none;
    

}
.logo-side a{
    text-decoration:none;
    color:var(--white);
    font-size:32px;
    font-weight:600;
    line-height: 28px;
}
/* end logo */
/* start hero section  */
.hero-sec{
    width:100%;
    height:auto;
    padding: 80px 0;
    background-color: var(--green);
    position: relative;
}
.text-hero{
    width:100%;
    height:auto;
    padding: 80px 80px;
    background-color: var(--green);
     word-wrap: break-word;
}
.text-hero h1{
    font-size:48px;
    font-weight:700;
    line-height: 56px;
    color:var(--white);
    margin-bottom:24px;
    word-wrap: break-word;
}
.text-hero p{
    font-size:16px;
    font-weight:400;
    line-height: 28px;
    color:var(--gray);
    margin-bottom: 40px;
}
.text-hero span{
    display:block;
}
.text-hero p a {
    text-decoration:none;
    color:var(--black);
    background-color: var(--yellow);
    padding: 12px 24px;
    border-radius: 30px;
    font-size:16px;
    font-weight:500;
    line-height: 28px;
    margin-right: 20px;  
}
.text-hero p a.button-outline{
    border: 2px solid var(--gray);
    color:var(--white);
    background-color: transparent;
}
.text-hero p a.button-outline:hover {
    border: 2px solid var(--white);
}

.hero__image{
    width:100%;
    height:auto;
    
}
.hero__image img{
    height:auto;
    position:absolute;
    right:25px;
    top:80px ;
}
/* end hero section  */
/* Start Product Section */
.products{
    width:100%;
    height:auto;
    padding: 80px 0;
    background-color: var(--white);
    
}
.products .container{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: relative;
    overflow-y: hidden;
    
}
.products-text{
    width: 100%;
    height:auto;
    padding: 80px 0;
    background-color: var(--white);
    word-wrap: break-word;
    margin: 0 70px; 
    
}
.products-text .section__title{
    font-size:36px;
    font-weight:700;
    line-height: 44px;
    color:var(--black);
    margin-bottom:24px;
    word-wrap: break-word;
}
.products-text p{
    font-size:16px;
    font-weight:400;
    line-height: 28px;
    color:var(--gray);
    margin-bottom: 40px;
    text-decoration: none;
}

.products-text p a{
    text-decoration:none;
    color:var(--white);
    background-color: var(--black);
    padding: 12px 24px;
    border-radius: 30px;
    font-size:16px;
    font-weight:500;
    line-height: 28px;
    margin-right: 20px;  
    text-decoration: none;
}


.products .product {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    text-align: center;

    text-decoration: none !important;
}
.products .product img{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.products__item{    
    text-decoration: none;
    color:var(--black);
    padding: 12px 24px;
    border-radius: 30px;
    font-size:16px;
    font-weight:500;
    line-height: 28px;
    margin-right: 20px;     
}
.products__item:hover{
    background-color: var(--gray);
    color:var(--black);
    text-decoration: none;
    transition: var(--main-transition);
    display: block;
}
.products:has(.products__item:hover) .products__icon{
    background-color: var(--black);
    color:var(--white);
    transition:var(--main-transition);
}
.products .products__icon img{
    width:50px;
    color:var(--gray);
    background-color: var(--white);
    border-radius: 50%;
    padding:10px;
    margin-left: 120px;
    position: absolute;  

}

/* End Product Section */
/* Start Why Choose Us Section */
.features{
    width:100%;
    height:100vh;
    display:flex;
    padding: 80px 120px;
    background-color: var(--white);
    position: relative;
    overflow-x: hidden;
    
}
.features .features__text{
    width: 100%;
    height:100vh;
    padding: 80px 0;
    background-color: var(--white);
    word-wrap: break-word;
    margin: 0 70px; 
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    
}
.features .text-features .section__title{
    font-size:35px;
    font-weight:500;
    color:var(--black);
    margin-bottom:5px;
    word-wrap: break-word;
}
.features .text-features p{
    font-size:16px;
    font-weight:250;
    color:var(--gray);
}

.features .features__items{
    width:100%;
    height:auto;
    margin-top:40px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
}
.features .features__items .features__item{
    gap:20px;
    position: relative;
}
.features .features__items .features__item p{
    font-size:16px;
    font-weight:250px;
    color:var(--gray);
  
}

.features .features__items .features__item .features__icon{
    border-radius: 50%;
    width:fit-content;   
    
}
.features .features__items .features__item .features__icon:before {
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    left:20px;
    top: 12px;
    
}

.features .features__image{
    width:100%;
    height:auto;
    
}
.features .features__image .responsive-image{
    width:525px;
    height:602px;
    position:absolute;
    right:70px;
    top:60px ;
    z-index: 1;
    border-radius: 20px;
}
.features .dots-yellow{
    width:250px;
    height:auto;
    position:absolute;
    right:450px;
    top: -30px ;
    z-index: 0;
}

/* End Why Choose Us Section*/

/* Start We Help Section */

.help-sec{
    width:100vw;
    height: 1000px;
    display:flex;
    padding: 80px 0;
    background-color: var(--white);
    gap: 50px;
    position: relative;
    overflow: hidden;

}
.help-sec .help-text{
    width: 70%;
    height:auto;
    padding: 0 20px;
    background-color: var(--white);
    word-wrap: break-word;
    margin:  100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}
.help-sec .help-text h2{
  font-size:35px;
    font-weight:500;
    color:var(--black);
    margin-bottom:5px;
    word-wrap: break-word;
    align-items: end;


}
.help-sec .help-text p{
     font-size:16px;
    color:var(--gray);
    line-height: 30px;
}
.help-sec .help-text ul{
    width: 100%;
    list-style: circle ;
    color:gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0 30px 0;
    gap: 10px;

}
.help-sec .help-text .button{
    border: solid 2px var(--black);
    color:white;
    background-color: var(--black);
    padding: 12px 24px;
    border-radius: 30px;
}


.help-sec .help-images{
    width:100%;
    height:auto;
    padding: 0 20px;
    background-color: var(--white);
    margin: 0 70px;
    display: flex;
    grid-template-columns: repeat(2, auto); 
     grid-template-rows: repeat(2, auto);
  
    
}
.help-sec .help-images .grid{
    position: absolute;
    

}


.help-sec .help-images .grid-1{
    width:250px;
    height: 100%;
    margin: 0 auto;
       z-index:1;
       top: 140px;
       left: 120px;
   
}
.help-sec .help-images .grid-1 img{
    width: 500px;
    height: auto;
    border-radius:30px;
   
}
.help-sec .help-images .grid-2{
   
    top: 140px;
    left: 680px;  
}
.help-sec .help-images .grid-2 img{
    width: 250px;
    height: auto;
    border-radius:30px;

   
}
.help-sec .help-images .grid-3{
    margin: 0 auto;
         z-index: 1;
         top: 400px;
         left: 500px;
}
.help-sec .help-images .grid-3 img{
    width: 400px;
    height: auto;
    border-radius:30px;

   
}

.help-sec .help-images .grid-4{
       z-index: 0;
         top: 50px;
            left: 10px;
}
.help-sec .help-images .grid-4 img{
    width: 250px;
    height: auto;

}

/* end We Help Section */

	/* Start Popular Product */
.popular-product{
    width:100vw;
    height: auto;
    display:flex;
    background-color: var(--white);
    gap: 10px;
    overflow: hidden;
    padding: 0 100px;
}
.popular-product .cards{
    display: flex;
    width: 100%;

}
.popular-product .cards .card{
    width:100%;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
    position: relative;
}
.popular-product .cards .card .text-card{
    width: 50%;
}
.popular-product .cards .text-card h3{
    font-size:16px;
    font-weight:500;
    color:var(--black);
    margin-bottom:5px;
}
.popular-product .cards .text-card p{
    font-size:14px;
    font-weight:300;
    line-height: 15px;
    color:var(--gray);
    margin-bottom: 10px;
}
.popular-product .cards .product-image img{
    width: 130px;
    height: auto;
    border-radius: 30px;
    margin-right: 20px;
    position: relative;
    z-index: 2;
}
    .popular-product .cards .product-image:after{
    content: "";
    width: 100px;
    height: 100px;
    background: rgba(33, 49, 43, 0.1);
    top: 50px;
    left: 40px;
    position: absolute;
    border-radius: 20px;
    z-index: 0;
    }
.popular-product .cards .text-card p a{
    text-decoration:none;
    color:var(--black);
    font-weight: 300;
}
	/* end Popular Product */





	/* Start Testimonial Slider */
    .testimonials {
  position: relative;
  text-align: center;
  padding: 80px 100px;
  width: 100%;
  margin: auto;
  color: #333;
  background: var(--white);
  overflow: hidden;
}

.testimonials h2 {
  font-size: 2.4rem;
  margin-bottom: 30px;
  font-weight: 700;
}

.testimonials .quote {
  font-size: 1.2rem;
  max-width: 900px;
  margin: auto;
  line-height: 1.8;
  color: #555;
}

.person {
  margin-top: 40px;
}

.person img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.person h3 {
  font-size: 1.3rem;
  margin: 5px 0;
}

.person span {
  font-size: 0.95rem;
  color: #777;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #e6ece9;
  color: #333;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  margin:0 100px;
}

.arrow:hover {
  background: #d5e3dd;
}

.arrow.left {
  left: -40px;
}

.arrow.right {
  right: -40px;
}

.dots {
  margin-top: 25px;
}

.dot {
  width: 9px;
  height: 9px;
  background: #ccc;
  display: inline-block;
  margin: 0 4px;
  border-radius: 50%;
  transition: 0.3s;
}

.dot.active {
  background: var(--green);
}
	/* end Testimonial Slider */

	/* Start Blog Section */
.blog{
    width:100%;
    height:auto;
    padding: 80px 80px;
    background-color: var(--white);
}
    .blog .text-blog{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px; 
    }

    .blog .text-blog h2{
        font-size: 32px;
        font-weight: 500;
        color:var(--black);
    }
    .blog .text-blog a{
        text-decoration: none;
        color:var(--black);
        font-weight: 500;
    }





    .blog .container{
        width:100%;
        height:auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 40px 0px;
        margin-left: 30px;
        position: relative;
    }
    .blog .post-entry img{
        width:400px;
        height:auto;
        border-radius: 20px;
    }
    .blog .post-entry h3{
        font-size: 16px;
        font-weight: 500;
        color:var(--black);
        margin: 10px 0px;
    }
    .blog .post-entry span{
        font-size: 14px;
        font-weight: 300;
        color:var(--gray);
        margin: 10px 0px;
    }
    .blog .post-entry a{
        text-decoration: none;
        color:var(--black);
        font-weight: 500;
    }

	/* end Blog Section */

	/* Start Footer Section */
footer{
    width:100%;
    height:auto;
    padding: 0px 60px;
    background-color:white;
    position: relative;
    
}
footer .container{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px 80px ; 
}
footer .container h3{
    font-size: 18px;
    font-weight: 500;
    color:var(--gray);
    margin-bottom: 10px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    gap: 5px;
}

footer .container h3 span{
    color:var(--green);
    display: flex;
}
.footer .sofa-img img{
    width:350px;
    height:auto;
  position: absolute;
  right: 60px;
  top : -90px;   
}
.footer .container .subscription-form {
    display: flex;
    align-items: end;
    margin-top: 20px;
    gap: 20px;
  }
  
  .footer .container .subscription-form input{
    padding: 13px 12px;
    border-radius: 5px ;
    border: 1px solid var(--gray);
    width: 220px;
  }
  
  .footer .container .subscription-form button {
    padding: 12px 10px;
    width: 80px;
    border-radius:  5px ;
    background-color: var(--green);
    color : white;
}

.footer .linkes{
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(2, 1fr); 
    text-decoration: none;
    margin:10px 50px 60px 50px;
}
.footer .linkes a{
    text-decoration: none;
    color:var(--black);
}
.footer .linkes .row .footer-logo{
    text-decoration: none;
    color:var(--green);
    font-weight: 600;
    font-size: 30px;
}
.footer .linkes ul{
    list-style: none;
}

.footer .linkes .rows{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.footer .linkes .rows p{
    text-wrap: wrap ;
    width: 450px;
    line-height: 25px;
    color: var(--gray);
}
.footer .linkes .rows .footr-logo{
    text-decoration: none;
    color:var(--gray);
    font-weight: 300;
    font-size: 700px;
}
.footer .linkes .rows ul{
    list-style: none;
    display: flex;
    gap:10px;
    margin-top: 20px;

}
.footer .linkes .rows ul a span{
    color:var(--green);
    background:var(--gray);
    font-weight: 300;
    border-radius: 50%;
    font-size: 15px;
    padding: 10px;
}

.footer .linkes .columns{
    display: flex;
    margin-top: 20px;
    padding-top:30px ;
    gap: 70px;
}
.footer .linkes .columns .column  ul li{
    list-style: none;
    margin-bottom: 30px;
    
}
.footer .copyright{
    width:100%;
    height:auto;
    padding: 30px 30px 30px 10px ;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--gray);

}
.footer .copyright .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.footer .copyright p{
    font-size: 14px;
    font-weight: 300;
    color:var(--gray);
    display: flex;
  
}
.footer .copyright p a{
    text-decoration: none;
    color:var(--black);
}

 .footer .copyright .terms  ul{
    display: flex;
    list-style: none; 
    justify-content: end;
    gap: 20px;
 }
 .footer .copyright .container  ul a{
    text-decoration: none;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content:end;
 } 

	/* end Footer Section */














/* السيكشن الاول محتاج تعديلات زي الايقون وصورة الدوت والدوت االف اللوجو */
/* السكشن التاني محتاج تعديلات في البوكس شادو بتاع الكاردات بتاعت البرودكتس     */
/* تظبيط الريزبونسيف للموبيلات والاجهزخ الاكبر */